In [1]:
import os

import numpy as np
import pandas as pd

from helper import calculate_iqr_range, get_datatype_mapping_for_reduction, reduce_dataset_size

# set global variables
DATA_DIR = "../data/dataset"
max_std = 402198.1853209468
min_std = 0.0

# set maximum column displayable at once
pd.options.display.max_columns = 122

# load the dataset
df = pd.read_csv(os.path.join(DATA_DIR, "train_data.csv"))
test_df = pd.read_csv(os.path.join(DATA_DIR, "test_data.csv"))
df = reduce_dataset_size(df)
df.info()
df.head()

Reducing dataset size
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184506 entries, 0 to 184505
Columns: 122 entries, SK_ID_CURR to TARGET
dtypes: float32(51), float64(13), int16(3), int32(1), int64(1), object(16), uint32(1), uint8(36)
memory usage: 86.9+ MB

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,TARGET
0,450407,Cash loans,F,N,Y,1,67500.0,227520.0,11065.5,180000.0,Family,Commercial associate,Secondary / secondary special,Married,House / apartment,0.018634,-17210,-774,-5580,-755,NaN,1,1,1,1,0,0,Sales staff,3.0,2,2,WEDNESDAY,12,0,0,0,0,0,0,Business Entity Type 3,NaN,0.264354,NaN,0.0124,NaN,0.9444,NaN,NaN,0.00,0.0345,0.0417,NaN,NaN,NaN,0.0095,NaN,0.000,0.0126,NaN,0.9444,NaN,NaN,0.0000,0.0345,0.0417,NaN,NaN,NaN,0.0099,NaN,0.000,0.0125,NaN,0.9444,NaN,NaN,0.00,0.0345,0.0417,NaN,NaN,NaN,0.0096,NaN,0.0000,NaN,block of flats,0.0074,Mixed,No,0.0,0.0,0.0,0.0,-150.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0,0
1,271298,Cash loans,M,Y,Y,1,247500.0,1882372.5,65560.5,1719000.0,Unaccompanied,Working,Higher education,Civil marriage,House / apartment,0.018850,-18640,-96,-5711,-2175,25.0,1,1,0,1,0,1,Managers,3.0,2,2,TUESDAY,10,0,0,0,0,1,1,Business Entity Type 3,0.581064,0.172251,0.686382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-444.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0,0
2,122238,Cash loans,M,Y,Y,1,180000.0,101880.0,10827.0,90000.0,"Spouse, partner",Working,Higher education,Married,House / apartment,0.022625,-14649,-6130,-1776,-4568,9.0,1,1,1,1,0,0,Laborers,3.0,2,2,MONDAY,14,0,0,0,0,0,0,Transport: type 4,NaN,0.636218,0.540654,0.1979,0.1169,0.9841,0.7824,0.1119,0.16,0.0690,0.4583,0.5,0.1587,0.1614,0.1033,0.0,0.188,0.2017,0.1213,0.9841,0.7909,0.113,0.1611,0.0690,0.4583,0.5,0.1623,0.1763,0.1076,0.0,0.199,0.1999,0.1169,0.9841,0.7853,0.1127,0.16,0.0690,0.4583,0.5,0.1615,0.1642,0.1051,0.0,0.1919,reg oper account,block of flats,0.1789,Panel,No,1.0,0.0,1.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0,0
3,305311,Cash loans,M,N,N,0,81000.0,405000.0,20677.5,405000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,With parents,0.035792,-12762,-5891,-6430,-4618,NaN,1,1,1,1,1,0,NaN,1.0,2,2,WEDNESDAY,18,0,0,0,0,1,1,Other,NaN,0.599924,0.337673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,1.0,7.0,1.0,-1671.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0
4,414121,Cash loans,F,N,Y,0,157500.0,888840.0,29506.5,675000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.018801,-16329,-345,-1413,-4624,NaN,1,1,0,1,0,0,Sales staff,2.0,2,2,TUESDAY,9,0,0,0,0,1,1,Business Entity Type 3,0.476511,0.312779,0.819318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-28.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0

In [2]:
numerical_columns = list(df.select_dtypes(exclude=["object"]).columns)
print(f"Number of numerical columns: {len(numerical_columns)}\n" )

df[numerical_columns].describe()

Number of numerical columns: 106

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,TARGET
count,184506.000000,184506.000000,1.845060e+05,1.845060e+05,184500.000000,1.843390e+05,184506.000000,184506.000000,184506.000000,184506.00000,184506.000000,62873.000000,184506.000000,184506.000000,184506.000000,184506.000000,184506.000000,184506.000000,184505.000000,184506.000000,184506.000000,184506.000000,184506.000000,184506.000000,184506.000000,184506.000000,184506.000000,184506.000000,80432.000000,184093.000000,147850.000000,90931.000000,76531.000000,94606.000000,61749.000000,55535.000000,86186.000000,91699.000000,92780.000000,59262.000000,74963.000000,58294.000000,91972.000000,56360.000000,82718.000000,90931.000000,76531.000000,94606.000000,61749.000000,55535.000000,86186.000000,91699.000000,92780.000000,59262.000000,74963.000000,58294.000000,91972.00000,56360.000000,82718.000000,90931.000000,76531.000000,94606.000000,61749.000000,55535.000000,86186.000000,91699.000000,92780.000000,59262.000000,74963.000000,58294.000000,91972.000000,56360.000000,82718.000000,95558.000000,183867.000000,183867.000000,183867.000000,183867.000000,184505.000000,184506.000000,184506.000000,184506.000000,184506.000000,184506.000000,184506.000000,184506.000000,184506.000000,184506.000000,184506.000000,184506.0,184506.000000,184506.000000,184506.000000,184506.000000,184506.000000,184506.000000,184506.000000,184506.000000,184506.000000,159508.000000,159508.000000,159508.000000,159508.000000,159508.000000,159508.000000,184506.000000
mean,278031.658488,0.416463,1.689985e+05,5.992853e+05,27114.455078,5.386926e+05,0.020868,-16036.718307,63838.583271,-4984.89506,-2994.113948,12.049115,0.999995,0.819849,0.199115,0.998043,0.281611,0.056638,2.152706,2.051787,2.031332,12.062963,0.015176,0.051299,0.041175,0.078778,0.230323,0.179257,0.502568,0.514616,0.510894,0.117193,0.088303,0.977795,0.752196,0.044500,0.078558,0.149578,0.225968,0.231827,0.066468,0.100229,0.107146,0.008890,0.028265,0.113888,0.087360,0.977083,0.759342,0.042394,0.074057,0.144987,0.221899,0.227819,0.065124,0.104988,0.10566,0.008094,0.026867,0.117568,0.087798,0.977831,0.755489,0.044459,0.077690,0.149065,0.225543,0.231519,0.067306,0.101392,0.108348,0.008717,0.028153,0.102215,1.426101,0.144311,1.409247,0.100605,-961.984591,0.000038,0.708389,0.000092,0.015588,0.088339,0.000179,0.082312,0.003837,0.000022,0.004027,0.0,0.003734,0.002921,0.001295,0.009674,0.000271,0.007870,0.000629,0.000553,0.000325,0.006338,0.007335,0.034400,0.267247,0.266770,1.897504,0.080729
std,102789.553650,0.719614,2.942453e+05,4.021982e+05,14468.652344,3.692263e+05,0.013818,4361.484692,141295.297588,3524.99741,1509.959416,11.930581,0.002328,0.384314,0.399336,0.044190,0.449786,0.231150,0.907545,0.508278,0.502096,3.263908,0.122252,0.220608,0.198695,0.269393,0.421041,0.383568,0.210675,0.190879,0.194894,0.107990,0.082494,0.058365,0.114103,0.075883,0.133800,0.100177,0.144819,0.161538,0.081644,0.091797,0.110432,0.048059,0.069137,0.107510,0.084412,0.064169,0.110966,0.074188,0.131412,0.101107,0.143780,0.161178,0.082439,0.096850,0.11167,0.046131,0.069645,0.108725,0.082251,0.058906,0.112879,0.075968,0.133625,0.100473,0.145203,0.162081,0.082643,0.092849,0.112076,0.047612,0.069841,0.106952,2.456428,0.452266,2.434892,0.365919,827.403575,0.006159,0.454505,0.009598,0.123874,0.283787,0.013373,0.274840,0.061827,0.004656,0.063331,0.0,0.060995,0.053970,0.035968,0.097882,0.016460,0.088362,0.025066,0.023506,0.018030,0.083743,0.114671,0.204187,0.919465,0.894563,1.864439,0.272419
min,100003.000000,0.000000,2.610000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25201.000000,-17912.000000,-23416.00000,-6383.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014568,0.000001,0.000527,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4185.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,188904.250000,0.000000,1.125000e+05,2.700000e+05,16555.500000,2.385000e+05,0.010006,-19677.000000,-2757.000000,-7486.00000,-4299.000000,5.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,2.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.335184,0.392426,0.370650,0.057700,0.044200,0.976700,0.687200,0.007800,0.000000,0.069000,0.166700,0.083300,0.018700,0.050400,0.045000,0.000000,0.000000,0.052500,0.040600,0.976200,0.699400,0.007200,0.000000,0.069000,0.166700,0.083300,0.016600,0.053300,0.04250,0.000000,0.000000,0.057800,0.043800,0.976700,0.691400,0.007800,0.000000,0.069000,0.166700,0.083300,0.018700,0.051300,0.045500,0.000000,0.000000,0.041100,0.000000,0.000000,0.000000,0.000000,-1569.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,277948.500000,0.000000,1.485000e+05,5.155290e+05,24939.000000,4.500000e+05,0.018850,-15747.000000,-1211.000000,-4506.00000,-3256.000000,9.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,2.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.506692,0.565999,0.535276,0.087600,0.076100,0.981600,0.755200,0.021200,0.000000,0.137900,0.166700,0.208300,0.048300,0.075600,0.074200,0.000000,0.003500,0.084000,0.074400,0.981600,0.764800,0.019100,0.000000,0.137900,0.166700,0.208300,0.046100,0.076200,0.07300,0.000000,0.001000,0.086900,0.075600,0.981600,0.758500,0.020900,0.000000,0.137900,0.166700,0.208300,0.048800,0.076100,0.074600,0.000000,0.003000,0.068700,0.000000,0.000000,0.000000,0.000000,-756.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,367083.250000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12416.000000,-289.000000,-2000.00000,-1721.000000,15.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,3.000000,2.000000,2.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.675119,0.663798,0.669057,0.148500,0.111700,0.986600,0.823200,0.051300,0.120000,0.206900,0.333300,0.375000,0.085600,0.121000,0.129800,0.003900,0.027500,0.143900,0.112000,0.986600,0.823600,0.048800,0.120800,0.206900,0.333300,0.375000,0.084100,0.131300,0.12500,0.003900,0.022800,0.148900,0.111100,0.986600,0.825600,0.051200,0.120000,0.206900,0.333300,0.375000,0.086800,0.123100,0.130300,0.003900,0.026375,0.127275,2.000000,0.000000,2.000000,0.000000,-272.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000
max,456254.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,0.00000,0.000000,91.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,20.000000,3.000000,3.000000,23.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.962693,0.855000,0.893976,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,348.000000,34.000000,344.000000,24.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,7.000000,24.000000,261.000000,25.000000,1.000000

In [3]:
df[numerical_columns]

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,TARGET
0,450407,1,67500.0,227520.0,11065.5,180000.0,0.018634,-17210,-774,-5580,-755,NaN,1,1,1,1,0,0,3.0,2,2,12,0,0,0,0,0,0,NaN,0.264354,NaN,0.0124,NaN,0.9444,NaN,NaN,0.0000,0.0345,0.0417,NaN,NaN,NaN,0.0095,NaN,0.0000,0.0126,NaN,0.9444,NaN,NaN,0.0000,0.0345,0.0417,NaN,NaN,NaN,0.0099,NaN,0.000,0.0125,NaN,0.9444,NaN,NaN,0.00,0.0345,0.0417,NaN,NaN,NaN,0.0096,NaN,0.0000,0.0074,0.0,0.0,0.0,0.0,-150.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0,0
1,271298,1,247500.0,1882372.5,65560.5,1719000.0,0.018850,-18640,-96,-5711,-2175,25.0,1,1,0,1,0,1,3.0,2,2,10,0,0,0,0,1,1,0.581064,0.172251,0.686382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-444.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0,0
2,122238,1,180000.0,101880.0,10827.0,90000.0,0.022625,-14649,-6130,-1776,-4568,9.0,1,1,1,1,0,0,3.0,2,2,14,0,0,0,0,0,0,NaN,0.636218,0.540654,0.1979,0.1169,0.9841,0.7824,0.1119,0.1600,0.0690,0.4583,0.5000,0.1587,0.1614,0.1033,0.0,0.1880,0.2017,0.1213,0.9841,0.7909,0.1130,0.1611,0.0690,0.4583,0.5000,0.1623,0.1763,0.1076,0.0,0.199,0.1999,0.1169,0.9841,0.7853,0.1127,0.16,0.0690,0.4583,0.5000,0.1615,0.1642,0.1051,0.0,0.1919,0.1789,1.0,0.0,1.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0,0
3,305311,0,81000.0,405000.0,20677.5,405000.0,0.035792,-12762,-5891,-6430,-4618,NaN,1,1,1,1,1,0,1.0,2,2,18,0,0,0,0,1,1,NaN,0.599924,0.337673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,1.0,7.0,1.0,-1671.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0
4,414121,0,157500.0,888840.0,29506.5,675000.0,0.018801,-16329,-345,-1413,-4624,NaN,1,1,0,1,0,0,2.0,2,2,9,0,0,0,0,1,1,0.476511,0.312779,0.819318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-28.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184501,439663,1,135000.0,143910.0,15498.0,135000.0,0.016612,-12139,-1442,-3888,-4756,NaN,1,1,1,1,0,0,3.0,2,2,12,0,0,0,0,0,0,0.407396,0.583745,NaN,0.1660,0.0730,0.9801,NaN,NaN,0.0400,0.1379,0.2500,NaN,0.0159,NaN,0.0801,NaN,0.0182,0.0735,0.0758,0.9801,NaN,NaN,0.0000,0.0690,0.1667,NaN,0.0132,NaN,0.0625,NaN,0.000,0.1676,0.0730,0.9801,NaN,NaN,0.04,0.1379,0.2500,NaN,0.0162,NaN,0.0815,NaN,0.0186,0.0624,4.0,0.0,4.0,0.0,-1588.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
184502,385689,0,202500.0,360000.0,18000.0,360000.0,0.010032,-22472,365243,-12171,-4714,NaN,1,0,0,1,0,0,2.0,2,2,5,0,0,0,0,0,0,NaN,0.641898,0.667458,0.0990,0.0757,0.9836,0.7756,0.0212,0.1064,0.0917,0.3333,0.3750,0.0621,0.0807,0.1020,0.0,0.0000,0.0756,0.0591,0.9831,0.7779,0.0109,0.0806,0.0690,0.3333,0.3750,0.0549,0.0661,0.0802,0.0,0.000,0.0749,0.0571,0.9836,0.7786,0.0172,0.08,0.0690,0.3333,0.3750,0.0559,0.0616,0.0784,0.0,0.0000,0.0665,5.0,0.0,5.0,0.0,-137.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0,0
184503,153567,0,135000.0,900000.0,45954.0,900000.0,0.014464,-15037,-88,-5025,-182,NaN,1,1,1,1,0,0,2.0,2,2,6,0,0,0,1,1,1,0.325270,0.382219,NaN,0.0619,0.0655,0.9801,0.7280,0.0076,0.0000,0.1379,0.1667,0.2083,0.0707,0.0504,0.0553,0.0,0.0000,0.0630,0.0679,0.9801,0.7387,0.0077,0.0000,0.1379,0.1667,0.2083,0.0723,0.0551,0.0576,0.0,0.000,0.0625,0.0655,0.9801,0.7316,0.0077,0.00,0.1379,0.1667,0.2083,0.0719,0.0513,0.0563,0.0,0.0000,0.0459,0.0,0.0,0.0,0.0,-13.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
184504,365526,0,123300.0,744988.5,20484.0,744988.5,0.026392,-20586,365243,-6310,-3642,NaN,1,0,0,1,0,0,2.0,2,2,12,0,0,0,0,0,0,NaN,0.726931,0.718033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,0.0,5.0,0.0,-1604.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,4.0,0.0,2.0,0
184505,125605,0,81000.0,167895.0,17757.0,157500.0,0.018850,-16397,-3009,-708,-4597,NaN,1,1,1,1,0,0,2.0,2,2,11,0,0,0,0,0,0,0.569200,0.654977,0.656158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-2375.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0

In [4]:
def col_info(column_name):
    print(f"{column_name}")
    print(f"Min value: {df[column_name].min()}")
    print(f"Max value: {df[column_name].max()}")
    print(f"Std: {df[column_name].std()}")
    print(f"Min std: {min_std}")
    print(f"Max std:  {max_std}\n")
    
    print(f"Missing value(s): {df[column_name].isna().sum()}")

    print("\n")
    iqr_range, lower_bound, upper_bound = calculate_iqr_range(
                df[column_name],
                scaled_factor=1.7,
                percentile_range=(25, 75)
            )
    print(f"Lower bound: {lower_bound}")
    print(f"Upper bound: {upper_bound}")
    index_of_outliers = df[
                (df[column_name] > upper_bound) | (df[column_name] < lower_bound)].index
    column_index = df[column_name].index
    column_index = column_index.drop(index_of_outliers)
    column_mean_without_outliers = df[column_name][column_index].mean()
    print(f"Number of outlier(s): {len(index_of_outliers)}")    
    mean_of_column = df[column_name].mean()
    print(f"\nMean: {mean_of_column}")
    more_than_mean = list()
    less_than_mean = list()
    for index, value in df[column_name][index_of_outliers].iteritems():
        if value > mean_of_column:
            if value not in more_than_mean:
                more_than_mean.append(value)
        elif value < mean_of_column:
            if value not in less_than_mean:
                less_than_mean.append(value)

            
    less_than_mean.sort()
    more_than_mean.sort()
    print(f"Less than mean: {len(less_than_mean)}")
    print(f"More than mean: {len(more_than_mean)}\n")
    
    unique_values = np.sort(df[column_name].unique())
    print(f"Unique values: {len(unique_values)}")
#     for unique_value in unique_values:
#         print(unique_value, end=", ")

#     print("\n")
#     print(df[column_name].value_counts())
    
    return index_of_outliers, less_than_mean, more_than_mean, unique_values, iqr_range, lower_bound, upper_bound, column_mean_without_outliers

# CNT_CHILDREN

In [5]:
column_name = "CNT_CHILDREN"
index_of_outliers, less_than_mean, more_than_mean, unique_values, iqr_range, lower_bound, upper_bound, column_mean_without_outliers = col_info(column_name)

CNT_CHILDREN
Min value: 0
Max value: 19
Std: 0.7196143256712833
Min std: 0.0
Max std:  402198.1853209468

Missing value(s): 0


Lower bound: -1.7
Upper bound: 2.7
Number of outlier(s): 2502

Mean: 0.4164634212437536
Less than mean: 0
More than mean: 11

Unique values: 14

In [6]:
print("Outliers:")
df[column_name][index_of_outliers]

Outliers:

78        3
269       3
379       3
406       3
469       3
         ..
184351    3
184353    3
184376    3
184407    3
184466    3
Name: CNT_CHILDREN, Length: 2502, dtype: uint8

In [7]:
df[column_name].replace([3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], 3, inplace=True)
df[column_name].value_counts()

0    129082
1     36984
2     15938
3      2502
Name: CNT_CHILDREN, dtype: int64

# AMT_INCOME_TOTAL

In [8]:
column_name = "AMT_INCOME_TOTAL"
index_of_outliers, less_than_mean, more_than_mean, unique_values, iqr_range, lower_bound, upper_bound, column_mean_without_outliers = col_info(column_name)

AMT_INCOME_TOTAL
Min value: 26100.0
Max value: 117000000.0
Std: 294245.3125
Min std: 0.0
Max std:  402198.1853209468

Missing value(s): 0


Lower bound: -40500.0
Upper bound: 355500.0
Number of outlier(s): 8154

Mean: 168998.5
Less than mean: 0
More than mean: 220

Unique values: 1768

In [9]:
print("Outliers:")
df[column_name][index_of_outliers]

Outliers:

71        630000.0
179       382500.0
195       382500.0
240       360000.0
248       540000.0
            ...
184349    360000.0
184358    427500.0
184383    450000.0
184387    360000.0
184483    450000.0
Name: AMT_INCOME_TOTAL, Length: 8154, dtype: float32

In [10]:
more_than_mean

[356625.0,
 356850.0,
 357750.0,
 358200.0,
 359100.0,
 360000.0,
 360450.0,
 360508.5,
 362250.0,
 362911.5,
 364500.0,
 364891.5,
 365850.0,
 366750.0,
 369000.0,
 371250.0,
 371392.1875,
 371925.0,
 373500.0,
 373950.0,
 374220.0,
 375750.0,
 376875.0,
 377145.0,
 378000.0,
 378900.0,
 380700.0,
 381150.0,
 381375.0,
 382500.0,
 383400.0,
 385200.0,
 386473.5,
 387000.0,
 388350.0,
 389250.0,
 391500.0,
 391972.5,
 392625.0,
 392850.0,
 394353.0,
 395100.0,
 396000.0,
 396922.5,
 400500.0,
 402750.0,
 403200.0,
 403650.0,
 405000.0,
 409500.0,
 410400.0,
 410850.0,
 411300.0,
 411750.0,
 414000.0,
 415813.5,
 416029.5,
 416322.0,
 418500.0,
 422100.0,
 423000.0,
 424350.0,
 426019.5,
 427050.0,
 427500.0,
 430650.0,
 432000.0,
 432981.0,
 433350.0,
 433800.0,
 434250.0,
 436495.5,
 436500.0,
 438750.0,
 440100.0,
 441000.0,
 443250.0,
 443700.0,
 445500.0,
 450000.0,
 450225.0,
 452250.0,
 454500.0,
 458550.0,
 459000.0,
 460417.5,
 463500.0,
 466956.0,
 468000.0,
 469800.0,
 472500.0,
 475047.0,
 475650.0,
 477000.0,
 481500.0,
 482850.0,
 483300.0,
 486000.0,
 489861.0,
 490500.0,
 494100.0,
 495000.0,
 499500.0,
 504000.0,
 507739.5,
 508500.0,
 513000.0,
 514480.5,
 517500.0,
 522000.0,
 526500.0,
 528300.0,
 531000.0,
 540000.0,
 544500.0,
 545733.0,
 546250.5,
 549000.0,
 553500.0,
 560250.0,
 562500.0,
 563850.0,
 567000.0,
 571500.0,
 573750.0,
 574564.5,
 576000.0,
 578835.0,
 580500.0,
 585000.0,
 587250.0,
 594000.0,
 599998.5,
 603000.0,
 607500.0,
 616500.0,
 621000.0,
 625500.0,
 630000.0,
 634500.0,
 635728.5,
 639000.0,
 648000.0,
 652500.0,
 657000.0,
 660397.5,
 666000.0,
 670500.0,
 675000.0,
 679500.0,
 684000.0,
 688500.0,
 690399.0,
 697500.0,
 699750.0,
 702000.0,
 704700.0,
 706500.0,
 711000.0,
 720000.0,
 727870.5,
 733500.0,
 742500.0,
 751500.0,
 761400.0,
 765000.0,
 774000.0,
 783000.0,
 787500.0,
 810000.0,
 828000.0,
 832500.0,
 841500.0,
 855000.0,
 864000.0,
 877500.0,
 886500.0,
 900000.0,
 900450.0,
 936000.0,
 945000.0,
 949500.0,
 967500.0,
 990000.0,
 1001826.0,
 1009368.0,
 1035000.0,
 1053333.0,
 1080000.0,
 1125000.0,
 1147500.0,
 1170000.0,
 1215000.0,
 1235038.5,
 1260000.0,
 1305000.0,
 1306831.5,
 1350000.0,
 1358550.0,
 1381500.0,
 1417500.0,
 1440000.0,
 1530000.0,
 1575000.0,
 1800000.0,
 1890000.0,
 2025000.0,
 2160000.0,
 2214117.0,
 2250000.0,
 2475000.0,
 2700000.0,
 3150000.0,
 3375000.0,
 3600000.0,
 4500000.0,
 9000000.0,
 13500000.0,
 18000090.0,
 117000000.0]

In [11]:
print(f"Rows before: {df.shape[0]}")
to_delete_indices = df[(df[column_name] >= 9000000)].index
df.drop(index=to_delete_indices, inplace=True)
print(f"Rows after: {df.shape[0]}")

Rows before: 184506
Rows after: 184502

In [12]:
print(f"Before deleting: {len(index_of_outliers)}")
index_of_outliers = index_of_outliers.drop(to_delete_indices)
print(f"After deleting: {len(index_of_outliers)}")

Before deleting: 8154
After deleting: 8150

In [13]:
lowest_outlier_value = more_than_mean[0]
index_lowest_outlier_value = np.where(unique_values == lowest_outlier_value)[0][0]
print(f"Lowest outlier value in unique values: {lowest_outlier_value}")
print(f"Index of lowest outlier value in unique values: {index_lowest_outlier_value}")
print(f"Outliers will be trimmed to: {unique_values[index_lowest_outlier_value - 1]}")

Lowest outlier value in unique values: 356625.0
Index of lowest outlier value in unique values: 1548
Outliers will be trimmed to: 355500.0

In [14]:
df.loc[index_of_outliers, column_name] = unique_values[index_lowest_outlier_value - 1]
df[column_name][index_of_outliers]

71        355500.0
179       355500.0
195       355500.0
240       355500.0
248       355500.0
            ...
184349    355500.0
184358    355500.0
184383    355500.0
184387    355500.0
184483    355500.0
Name: AMT_INCOME_TOTAL, Length: 8150, dtype: float32

# AMT_CREDIT

In [15]:
column_name = "AMT_CREDIT"
index_of_outliers, less_than_mean, more_than_mean, unique_values, iqr_range, lower_bound, upper_bound, column_mean_without_outliers = col_info(column_name)

AMT_CREDIT
Min value: 45000.0
Max value: 4050000.0
Std: 402193.53125
Min std: 0.0
Max std:  402198.1853209468

Missing value(s): 0


Lower bound: -645705.0
Upper bound: 1724355.0
Number of outlier(s): 3181

Mean: 599276.3125
Less than mean: 0
More than mean: 387

Unique values: 4854

In [16]:
more_than_mean

[1724688.0,
 1725120.0,
 1726866.0,
 1728000.0,
 1729615.5,
 1730511.0,
 1730655.0,
 1731901.5,
 1732500.0,
 1734543.0,
 1735474.5,
 1736937.0,
 1737000.0,
 1739470.5,
 1740294.0,
 1741077.0,
 1741293.0,
 1741500.0,
 1741972.5,
 1743399.0,
 1744398.0,
 1745113.5,
 1746000.0,
 1746288.0,
 1746684.0,
 1747008.0,
 1748835.0,
 1749325.5,
 1750500.0,
 1752039.0,
 1755000.0,
 1756714.5,
 1757074.5,
 1759180.5,
 1759500.0,
 1759576.5,
 1762110.0,
 1764000.0,
 1764108.0,
 1767145.5,
 1768248.0,
 1768500.0,
 1769035.5,
 1769220.0,
 1772181.0,
 1772352.0,
 1772406.0,
 1773000.0,
 1773963.0,
 1774039.5,
 1777212.0,
 1777500.0,
 1778890.5,
 1779030.0,
 1782000.0,
 1782247.5,
 1783818.0,
 1786500.0,
 1787283.0,
 1788502.5,
 1788750.0,
 1791000.0,
 1792318.5,
 1793677.5,
 1795203.0,
 1795500.0,
 1795972.5,
 1797354.0,
 1798141.5,
 1798416.0,
 1798605.0,
 1800000.0,
 1802385.0,
 1803532.5,
 1804500.0,
 1805922.0,
 1805985.0,
 1807420.5,
 1808842.5,
 1809000.0,
 1812456.0,
 1813500.0,
 1817428.5,
 1817491.5,
 1822158.0,
 1822500.0,
 1822527.0,
 1823242.5,
 1824480.0,
 1826050.5,
 1827549.0,
 1827558.0,
 1828170.0,
 1829691.0,
 1831500.0,
 1831887.0,
 1832593.5,
 1832940.0,
 1834906.5,
 1837629.0,
 1838331.0,
 1840117.5,
 1841530.5,
 1842664.5,
 1842768.0,
 1842952.5,
 1845000.0,
 1847700.0,
 1847880.0,
 1849500.0,
 1850544.0,
 1851174.0,
 1852537.5,
 1852731.0,
 1854000.0,
 1855993.5,
 1857735.0,
 1862802.0,
 1864152.0,
 1865286.0,
 1866181.5,
 1866681.0,
 1867500.0,
 1867590.0,
 1870677.0,
 1871397.0,
 1872517.5,
 1875276.0,
 1876608.0,
 1877445.0,
 1877904.0,
 1880095.5,
 1881459.0,
 1882372.5,
 1882939.5,
 1885536.0,
 1886850.0,
 1887300.0,
 1887975.0,
 1890000.0,
 1892227.5,
 1892241.0,
 1893010.5,
 1893996.0,
 1894500.0,
 1897155.0,
 1897461.0,
 1897632.0,
 1899000.0,
 1902672.0,
 1903023.0,
 1903077.0,
 1903500.0,
 1904202.0,
 1906920.0,
 1907010.0,
 1908112.5,
 1908414.0,
 1909107.0,
 1911942.0,
 1912500.0,
 1913148.0,
 1913805.0,
 1918183.5,
 1918309.5,
 1919196.0,
 1921500.0,
 1921797.0,
 1923219.0,
 1928304.0,
 1928736.0,
 1929978.0,
 1930500.0,
 1931652.0,
 1932673.5,
 1933285.5,
 1935000.0,
 1936579.5,
 1938321.0,
 1939162.5,
 1939500.0,
 1940760.0,
 1941507.0,
 1942560.0,
 1943356.5,
 1944000.0,
 1948392.0,
 1949589.0,
 1951542.0,
 1952406.0,
 1953423.0,
 1956289.5,
 1957500.0,
 1958458.5,
 1961217.0,
 1963494.0,
 1965226.5,
 1968529.5,
 1971072.0,
 1973106.0,
 1973565.0,
 1975999.5,
 1978596.0,
 1980000.0,
 1980864.0,
 1983631.5,
 1984500.0,
 1988667.0,
 1991290.5,
 1993500.0,
 1993554.0,
 1993702.5,
 1993954.5,
 1994670.0,
 1995709.5,
 1996456.5,
 1998000.0,
 1998738.0,
 2000637.0,
 2001717.0,
 2007000.0,
 2008804.5,
 2012139.0,
 2013840.0,
 2016000.0,
 2017354.5,
 2018875.5,
 2020347.0,
 2022565.5,
 2023911.0,
 2024721.0,
 2025000.0,
 2026953.0,
 2028942.0,
 2031651.0,
 2032992.0,
 2033977.5,
 2039013.0,
 2044048.5,
 2048580.0,
 2048823.0,
 2049084.0,
 2053845.0,
 2059056.0,
 2064186.0,
 2069221.5,
 2070000.0,
 2074257.0,
 2078802.0,
 2079288.0,
 2085120.0,
 2089359.0,
 2091708.0,
 2094264.0,
 2102490.0,
 2106000.0,
 2107881.0,
 2111184.0,
 2114100.0,
 2114532.0,
 2115000.0,
 2116395.0,
 2119500.0,
 2121133.5,
 2124054.0,
 2129634.0,
 2133000.0,
 2137500.0,
 2139705.0,
 2142459.0,
 2144740.5,
 2149776.0,
 2151009.0,
 2154879.0,
 2155500.0,
 2156400.0,
 2159842.5,
 2160000.0,
 2164878.0,
 2168181.0,
 2169342.0,
 2169913.5,
 2172573.0,
 2173108.5,
 2173779.0,
 2182500.0,
 2183355.0,
 2185015.5,
 2190051.0,
 2194137.0,
 2196000.0,
 2200122.0,
 2205000.0,
 2214000.0,
 2215224.0,
 2217456.0,
 2217550.5,
 2218500.0,
 2220259.5,
 2220651.0,
 2221092.0,
 2225295.0,
 2232238.5,
 2232306.0,
 2240397.0,
 2241652.5,
 2245432.5,
 2250000.0,
 2254500.0,
 2261803.5,
 2264220.0,
 2265570.0,
 2272500.0,
 2280672.0,
 2285784.0,
 2286211.5,
 2290743.0,
 2291175.0,
 2291373.0,
 2295000.0,
 2295778.5,
 2298843.0,
 2300814.0,
 2301228.0,
 2303460.0,
 2304324.0,
 2305066.5,
 2313963.0,
 2316010.5,
 2318130.0,
 2325865.5,
 2326797.0,
 2327220.0,
 2330190.0,
 2334303.0,
 2338069.5,
 2341089.0,
 2356920.0,
 2361226.5,
 2362500.0,
 2365830.0,
 2366262.0,
 2366613.0,
 2371297.5,
 2377431.0,
 2383650.0,
 2395917.0,
 2404386.0,
 2406537.0,
 2409250.5,
 2410380.0,
 2416608.0,
 2425950.0,
 2428200.0,
 2446816.5,
 2447937.0,
 2448000.0,
 2451852.0,
 2452905.0,
 2458296.0,
 2463840.0,
 2466954.0,
 2475000.0,
 2479860.0,
 2487091.5,
 2517300.0,
 2547000.0,
 2589633.0,
 2606400.0,
 2614635.0,
 2687355.0,
 2695500.0,
 2700000.0,
 2736000.0,
 2925000.0,
 2931660.0,
 2980521.0,
 3020760.0,
 3060000.0,
 3150000.0,
 3299688.0,
 3375000.0,
 3600000.0,
 3860019.0,
 4027680.0,
 4031032.5,
 4050000.0]

In [17]:
lowest_outlier_value = more_than_mean[0]
index_lowest_outlier_value = np.where(unique_values == lowest_outlier_value)[0][0]
print(f"Lowest outlier value in unique values: {lowest_outlier_value}")
print(f"Index of lowest outlier value in unique values: {index_lowest_outlier_value}")
print(f"Outliers will be trimmed to: {unique_values[index_lowest_outlier_value - 1]}")

Lowest outlier value in unique values: 1724688.0
Index of lowest outlier value in unique values: 4467
Outliers will be trimmed to: 1724220.0

In [18]:
df.loc[index_of_outliers, column_name] = unique_values[index_lowest_outlier_value - 1]
df[column_name][index_of_outliers]

1         1724220.0
68        1724220.0
71        1724220.0
116       1724220.0
152       1724220.0
            ...
184126    1724220.0
184131    1724220.0
184261    1724220.0
184387    1724220.0
184495    1724220.0
Name: AMT_CREDIT, Length: 3181, dtype: float32

# AMT_ANNUITY

In [19]:
column_name = "AMT_ANNUITY"
index_of_outliers, less_than_mean, more_than_mean, unique_values, iqr_range, lower_bound, upper_bound, column_mean_without_outliers = col_info(column_name)

AMT_ANNUITY
Min value: 1615.5
Max value: 258025.5
Std: 14464.37109375
Min std: 0.0
Max std:  402198.1853209468

Missing value(s): 6


Lower bound: -14113.349999999999
Upper bound: 65264.85
Number of outlier(s): 3191

Mean: 27113.099609375
Less than mean: 0
More than mean: 1201

Unique values: 12411

In [20]:
test_df[column_name].isna().sum()

6

In [21]:
test_df[column_name]

0         25317.0
1         21069.0
2         36553.5
3         20682.0
4         31018.5
           ...
123000    32602.5
123001    42790.5
123002    26851.5
123003    31972.5
123004    36211.5
Name: AMT_ANNUITY, Length: 123005, dtype: float64

In [22]:
print(f"Rows before: {df.shape[0]}")
to_delete_indices = df[(df[column_name] >= 258025.5)].index
df.drop(index=to_delete_indices, inplace=True)
print(f"Rows after: {df.shape[0]}")

Rows before: 184502
Rows after: 184501

In [23]:
print(f"Before deleting: {len(index_of_outliers)}")
index_of_outliers = index_of_outliers.drop(to_delete_indices)
print(f"After deleting: {len(index_of_outliers)}")

Before deleting: 3191
After deleting: 3190

In [24]:
lowest_outlier_value = more_than_mean[0]
index_lowest_outlier_value = np.where(unique_values == lowest_outlier_value)[0][0]
print(f"Lowest outlier value in unique values: {lowest_outlier_value}")
print(f"Index of lowest outlier value in unique values: {index_lowest_outlier_value}")
print(f"Outliers will be trimmed to: {unique_values[index_lowest_outlier_value - 1]}")

Lowest outlier value in unique values: 65272.5
Index of lowest outlier value in unique values: 11209
Outliers will be trimmed to: 65227.5

In [25]:
df.loc[index_of_outliers, column_name] = unique_values[index_lowest_outlier_value - 1]
df[column_name][index_of_outliers]

1         65227.5
15        65227.5
25        65227.5
37        65227.5
304       65227.5
           ...
184126    65227.5
184131    65227.5
184134    65227.5
184215    65227.5
184261    65227.5
Name: AMT_ANNUITY, Length: 3190, dtype: float32

In [26]:
df[df[column_name].isna()]

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,TARGET
68774,157917,Cash loans,F,N,N,0,94500.0,450000.0,NaN,450000.0,Unaccompanied,Working,Lower secondary,Civil marriage,House / apartment,0.035792,-9027,-1270,-3640,-741,NaN,1,1,1,1,0,0,Laborers,2.0,2,2,MONDAY,20,0,0,0,0,0,0,Business Entity Type 1,NaN,0.727274,0.468660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-706.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0,0
87443,163757,Cash loans,F,N,N,0,162000.0,296280.0,NaN,225000.0,Unaccompanied,State servant,Higher education,Married,House / apartment,0.035792,-11329,-2040,-3195,-3069,NaN,1,1,0,1,0,0,Core staff,2.0,2,2,FRIDAY,13,0,0,0,1,1,1,Government,0.336803,0.566316,0.220095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-2841.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0,0
114531,379997,Cash loans,F,N,N,0,315000.0,1483231.5,NaN,1354500.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.072508,-15072,-152,-7576,-4389,NaN,1,1,1,1,1,0,Accountants,2.0,1,1,WEDNESDAY,15,0,1,1,0,1,1,Self-employed,0.593394,0.267269,NaN,0.3691,0.1891,0.9806,0.7348,0.2590,0.52,0.2241,0.5417,0.5833,0.0000,0.3009,0.3756,0.0000,0.2002,0.2216,0.1435,0.9796,0.7321,0.1590,0.3222,0.1379,0.5417,0.5833,0.0000,0.1938,0.2268,0.0000,0.0720,0.3726,0.1891,0.9806,0.7383,0.2607,0.52,0.2241,0.5417,0.5833,0.0000,0.3061,0.3824,0.0000,0.2044,reg oper spec account,block of flats,0.1860,"Stone, brick",No,0.0,0.0,0.0,0.0,-504.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
147768,187985,Cash loans,M,Y,N,0,144000.0,219249.0,NaN,166500.0,Unaccompanied,Working,Higher education,Single / not married,Rented apartment,0.022800,-20831,-2450,-771,-4203,8.0,1,1,0,1,0,0,Drivers,1.0,2,2,FRIDAY,15,0,0,0,0,0,0,Business Entity Type 3,0.339389,0.667564,0.425893,0.0928,0.0719,0.9831,0.7688,0.0113,0.00,0.2069,0.1667,0.0417,0.6932,0.0748,0.0865,0.0039,0.0031,0.0945,0.0746,0.9831,0.7779,0.0114,0.0000,0.2069,0.1667,0.0417,0.7091,0.0817,0.0901,0.0039,0.0033,0.0937,0.0719,0.9831,0.7719,0.0113,0.00,0.2069,0.1667,0.0417,0.7053,0.0761,0.0880,0.0039,0.0032,not specified,block of flats,0.0687,Panel,No,0.0,0.0,0.0,0.0,-1986.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,11.0,0
165153,340147,Cash loans,M,N,N,0,171000.0,486000.0,NaN,486000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.018634,-10151,-472,-10127,-2787,NaN,1,1,0,1,1,0,Security staff,2.0,2,2,WEDNESDAY,13,1,1,1,1,1,1,Security,NaN,0.706306,0.391055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-295.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1.0,1.0,0.0,2.0,0
166269,243648,Cash loans,F,N,Y,0,202500.0,929088.0,NaN,720000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.019689,-13902,-3540,-168,-4250,NaN,1,1,0,1,0,1,Secretaries,2.0,2,2,SATURDAY,12,0,0,0,0,0,0,Self-employed,0.400723,0.510934,0.581484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1331.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,5.0,0

In [27]:
df[column_name].fillna(column_mean_without_outliers, inplace=True)
df[df[column_name].isna()]

Empty DataFrame
Columns: [SK_ID_CURR, NAME_CONTRACT_TYPE, CODE_GENDER, FLAG_OWN_CAR, FLAG_OWN_REALTY, CNT_CHILDREN, AMT_INCOME_TOTAL, AMT_CREDIT, AMT_ANNUITY, AMT_GOODS_PRICE, NAME_TYPE_SUITE, NAME_INCOME_TYPE, NAME_EDUCATION_TYPE, NAME_FAMILY_STATUS, NAME_HOUSING_TYPE, REGION_POPULATION_RELATIVE, DAYS_BIRTH, DAYS_EMPLOYED, DAYS_REGISTRATION, DAYS_ID_PUBLISH, OWN_CAR_AGE, FLAG_MOBIL, FLAG_EMP_PHONE, FLAG_WORK_PHONE, FLAG_CONT_MOBILE, FLAG_PHONE, FLAG_EMAIL, OCCUPATION_TYPE, CNT_FAM_MEMBERS, REGION_RATING_CLIENT, REGION_RATING_CLIENT_W_CITY, WEEKDAY_APPR_PROCESS_START, HOUR_APPR_PROCESS_START, REG_REGION_NOT_LIVE_REGION, REG_REGION_NOT_WORK_REGION, LIVE_REGION_NOT_WORK_REGION, REG_CITY_NOT_LIVE_CITY, REG_CITY_NOT_WORK_CITY, LIVE_CITY_NOT_WORK_CITY, ORGANIZATION_TYPE, EXT_SOURCE_1, EXT_SOURCE_2, EXT_SOURCE_3, APARTMENTS_AVG, BASEMENTAREA_AVG, YEARS_BEGINEXPLUATATION_AVG, YEARS_BUILD_AVG, COMMONAREA_AVG, ELEVATORS_AVG, ENTRANCES_AVG, FLOORSMAX_AVG, FLOORSMIN_AVG, LANDAREA_AVG, LIVINGAPARTMENTS_AVG, LIVINGAREA_AVG, NONLIVINGAPARTMENTS_AVG, NONLIVINGAREA_AVG, APARTMENTS_MODE, BASEMENTAREA_MODE, YEARS_BEGINEXPLUATATION_MODE, YEARS_BUILD_MODE, COMMONAREA_MODE, ELEVATORS_MODE, ENTRANCES_MODE, FLOORSMAX_MODE, FLOORSMIN_MODE, LANDAREA_MODE, LIVINGAPARTMENTS_MODE, LIVINGAREA_MODE, NONLIVINGAPARTMENTS_MODE, NONLIVINGAREA_MODE, APARTMENTS_MEDI, BASEMENTAREA_MEDI, YEARS_BEGINEXPLUATATION_MEDI, YEARS_BUILD_MEDI, COMMONAREA_MEDI, ELEVATORS_MEDI, ENTRANCES_MEDI, FLOORSMAX_MEDI, FLOORSMIN_MEDI, LANDAREA_MEDI, LIVINGAPARTMENTS_MEDI, LIVINGAREA_MEDI, NONLIVINGAPARTMENTS_MEDI, NONLIVINGAREA_MEDI, FONDKAPREMONT_MODE, HOUSETYPE_MODE, TOTALAREA_MODE, WALLSMATERIAL_MODE, EMERGENCYSTATE_MODE, OBS_30_CNT_SOCIAL_CIRCLE, DEF_30_CNT_SOCIAL_CIRCLE, OBS_60_CNT_SOCIAL_CIRCLE, DEF_60_CNT_SOCIAL_CIRCLE, DAYS_LAST_PHONE_CHANGE, FLAG_DOCUMENT_2, FLAG_DOCUMENT_3, FLAG_DOCUMENT_4, FLAG_DOCUMENT_5, FLAG_DOCUMENT_6, ...]
Index: []